First, install scanpy using `mamba install -c conda-forge scanpy`

In [2]:
import scanpy as sc

In [2]:
expr_path = '/data/scRNA/ABCA/AIBS/AWS/expression_matrices/WMB-10Xv3/20230630/WMB-10Xv3-CTXsp-log2.h5ad'
adata = sc.read_h5ad(expr_path)

In [5]:
adata

AnnData object with n_obs × n_vars = 78464 × 32285
    obs: 'cell_barcode', 'library_label', 'anatomical_division_label'
    var: 'gene_symbol'
    uns: 'normalization', 'parent', 'parent_layer', 'parent_rows'

In [6]:
adata.obs

,cell_barcode,library_label,anatomical_division_label
cell_label,,,
GCCCGAAGTCAGTTTG-344_C04,GCCCGAAGTCAGTTTG,L8TX_200827_01_E10,CTXsp
AGGTTACTCGCGCCAA-332_B01,AGGTTACTCGCGCCAA,L8TX_200820_01_D01,CTXsp
ATGAGGGAGTGTTCCA-332_A01,ATGAGGGAGTGTTCCA,L8TX_200820_01_E02,CTXsp
CATAGACAGTCTAACC-299_B02,CATAGACAGTCTAACC,L8TX_200723_01_G09,CTXsp
GAGTTACCATGACGAG-299_A02,GAGTTACCATGACGAG,L8TX_200723_01_F09,CTXsp
...,...,...,...
TTTGTTGGTCCCTAAA-344_A04,TTTGTTGGTCCCTAAA,L8TX_200827_01_F09,CTXsp
TTTGTTGGTGAGCGAT-308_C03,TTTGTTGGTGAGCGAT,L8TX_200730_01_G02,CTXsp
TTTGTTGGTTGTGGCC-308_C03,TTTGTTGGTTGTGGCC,L8TX_200730_01_G02,CTXsp
TTTGTTGTCTAAGCCA-332_C01,TTTGTTGTCTAAGCCA,L8TX_200820_01_E08,CTXsp
TTTGTTGTCTTACGGA-341_A01,TTTGTTGTCTTACGGA,L8TX_200827_01_B09,CTXsp

In [7]:
adata.var

                   gene_symbol
gene_identifier
ENSMUSG00000051951        Xkr4
ENSMUSG00000089699      Gm1992
ENSMUSG00000102331     Gm19938
ENSMUSG00000102343     Gm37381
ENSMUSG00000025900         Rp1
...                        ...
ENSMUSG00000095523  AC124606.1
ENSMUSG00000095475  AC133095.2
ENSMUSG00000094855  AC133095.1
ENSMUSG00000095019  AC234645.1
ENSMUSG00000095041  AC149090.1

[32285 rows x 1 columns]

**Loading the mtx data**

In [2]:
import scanpy as sc
mtx_path = '/data/scRNA/ABCA/AIBS/Direct'
adata_mtx = sc.read_10x_mtx(mtx_path, make_unique=True)
adata_mtx

AnnData object with n_obs × n_vars = 176584 × 31053
    var: 'gene_ids', 'feature_types'